*

!.github/

!.github/workflows/
!.github/workflows/*.yml

!.minecraft/

!.minecraft/mods/
!.minecraft/mods/*.jar

!.minecraft/resourcepacks/
!.minecraft/resourcepacks/*.zip

!.gitignore
!LICENSE
!README.md
